@inherits LayoutComponentBase

<style>
li{
    list-style: none;
    display: inline
}
</style>
<div class="px-5 vh-100 d-flex flex-column">
    <div class="bg-dark text-white text-center p-3">
        <ul>
            <li>
                <NavLink class="text-decoration-none text-white"    href="/">Home</NavLink>
            </li>
            <li>
                <NavLink class="text-decoration-none text-white" href="ProdutoPorId">Pesquisar receita por ID</NavLink>
            </li>
        
        </ul>
    </div>

    <div class="py-4 h-100">
        @Body
    </div>

    <div class="bg-dark text-white text-center p-4">
        Footer
    </div>
</div>