@page "/"

<div class="text-center">
    <h2 class="text-primary">Seja bem-vindo(a) ao teste de consumo de API com C#</h2>
    <p class="text-muted">Arthur Lopes Oliveira</p>
    <p class="text-muted">(61) 99829-2106</p>
    <p class="text-muted">arthurestak2@gmail.com</p>
</div>

@code{
    
}